#map-canvas {
    height: 300px;
    width: 300px;
    margin-left: 20px;
  }

  #home{
    text-decoration: none;
    color: black
  }


  body {
    background-image: url(../images/food3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    font-family: 'Pattaya', sans-serif;
    padding: 50px; 
    margin-bottom: 30px;
}

.jumbotron {
    opacity: 0.7;
    text-align: center;
    margin: auto;
}